@page "/"

<PageTitle>POI</PageTitle>

<div class="container">
    <div>
        <button onclick="onClick_FindMe()">Find Me</button>

        <button onclick="onClick_SearchPoi()">Search POI</button>

        <input type="checkbox" id="zoomRefreshCheckbox"> zoom-refresh
    </div>
</div>

<br />

<div class="container">
    <div id="map"></div>
</div>