@page "/"

<PageTitle>POI</PageTitle>

<div class="container">
    <div class="controls">
        <button class="button" onclick="mapWrapper.onClick_FindMe()">Find Me</button>
        <button class="button" onclick="mapWrapper.onClick_SearchPoisDistance()">Search POI (distance)</button>
        <button class="button" onclick="mapWrapper.onClick_SearchPoisWithin()">Search POI (within)</button>
        <label class="checkbox-label">
            <input type="checkbox" id="zoomRefreshCheckbox"> zoom-refresh
        </label>
    </div>
</div>

<div class="container">
    <div id="map"></div>
</div>